@import "../../../styles/breakpoints.scss";

.headerImage {
    width: 100%;
    aspect-ratio: 16 / 10;
    max-height: calc(100vh - 148px);
    background-size: cover;
    background-position: center;
    display: flex;


    @include md {
        align-items: flex-end;
        margin-bottom: 7rem;
    }
}

.headerBox {
    color: var(--text-light);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1), 4px 4px 8px rgba(0, 0, 0, 1);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    background-color: var(--color-dark);
    padding: 1.5rem;
    border-radius: 0.5rem;
    // box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.7);


    @include md {
        box-shadow: none;
        width: calc(100% + 3rem);
        max-width: none;
        margin: 0 -1.5rem;
        transform: translateY(7rem);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        height: max-content;
        background: rgb(0, 0, 0);

        background: linear-gradient(0deg, rgba(30, 30, 40, 1) 0%, rgba(30, 30, 40, 1) 80%, rgba(30, 30, 40, 0) 100%);
    }



    p,
    h1 {
        margin: 0;
    }

    h1 {
        line-height: 2.2rem;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 0rem;

        @include md {
            line-height: normal;
            font-size: 1.5rem;
            margin-bottom: 0rem;
        }
    }

    p {

        @include md {
            font-size: 0.8rem;
            margin-bottom: 0rem;
        }
    }

}

.price {
    span:last-child {
        font-weight: 700;
        font-size: 2.5rem;

        @include md {
            font-size: 1.5rem;
        }
    }
}

.cta {
    margin-top: 1rem;
    display: inline-block;
    border: none;
    color: var(--text-light);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color-orange);
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    transform: scale(1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--text-light) !important;
        transform: scale(1.02);
    }
}

.loading {
    animation: loading 2s infinite;
}

@keyframes loading {
    0% {
        background-color: var(--color-gray);
    }

    50% {
        background-color: var(--color-dark);
    }

    100% {
        background-color: var(--color-gray);
    }
}