.carCard {
    flex: 25% 1 1;

    border-radius: 1rem;
    overflow-x: hidden;
    background-color: var(--color-gray);
    box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    min-width: 300px;
    position: relative;

}

.comingSoon {
    position: absolute;
    z-index: 1;
    right: 0;
    padding: 0.2rem 0.5rem;
    background-color: var(--color-orange);
    border-bottom-left-radius: 0.5rem;
}

.infoWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;


    h3 {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

.infoDetails {
    margin-top: 0;
}

.infoDescription {
    margin-top: 25px;
}

.price {
    margin-top: 25px;

    span:nth-child(2) {
        font-size: 2rem;
        font-weight: bold;
    }

    span:nth-child(4) {
        font-size: 0.8rem;
        font-style: italic;
    }
}

.btnMore {
    align-self: flex-end;
    width: 100%;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 0;

    border: 0;
    background-color: var(--color-orange);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    color: var(--text-light);
    font-weight: bold;

    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--color-orange-hover);
    }
}