@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html,
body,
p,
h1,
h4 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(14px, 0.6vw, 2rem);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  overflow-x: hidden;
}

:root {
  --color-dark: #1e1e28;
  --color-gray: #3c3c46;
  --color-orange: #F35135;
  --color-orange-hover: #d43418;
  --text-dark: #0e0e13;
  --text-light: #f8f8ff;
}

@import "./breakpoints.scss";

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.split-responsive {
  @include md {
    flex-direction: column;
  }
}

.hide-md {
  @include md {
    display: none;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}